body {
    background-image: linear-gradient(90deg,black, rebeccapurple,black);
  
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.Multi {
    width: 100%;
    display: flex;
    flex-direction: column;
       align-items: center;
       justify-content: center;

}

.userNames {
    width: 100%;
        display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.userSubmit {
    padding-top: 2%;
       width: 100%;
        display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}
.Sub {
    font-size: x-large;
    border-radius: 5%;
    font-weight: bold;
    font-family: monospace;
    font-style: italic;
}

 label {
    width: 40%;
}

input {
   width: 80%;
}

input::placeholder {
  font-size: large;
  font-weight: bold;
  color: black;
  font-family: monospace;
}

#gameIntro {
width: 80%;
background-color: burlywood;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#gameCon { 
    display: hide;
width: 60%;
height: 50vh;

grid-template-columns: 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr;

grid-row-gap: 1%;
grid-column-gap: 1% ;
background-color: white;
}

#gameCon div{
    background-color: rgb(103, 28, 28);
 margin: 1%;
 display: flex;
 justify-content: center;
 align-items: center;  
 font-size: xx-large;
 font-family: cursive;
 color: snow;
}

#gameCon div:hover {
    background-color: black;
}

label {
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.reply {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.reply button {
    font-size: x-large;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
   padding-left: 2%;
   padding-right: 2%;
   font-weight: bold;
   font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.reply button:hover {
   background-color: darkblue; 
   color: orangered;
   border: 3px solid  black;
}
    
@media only screen  and (min-width: 400px) and (max-width: 600px) {


  #gameIntro {
width: 90%}

#gameCon { 
    display: hide;
width: 70%;
height: 35vh;
}

h1 {
    font-size: large;
}

.reply button {
    font-size: large;
}
}


@media only screen  and (max-width: 400px)  {

  #gameIntro {
width: 95%}

#gameCon { 
    display: hide;
width: 80%;
height: 40vh;
}

h1 {
    font-size: large;
}

.reply button {
    font-size: large;
}
}


@media only screen  and (min-width: 601px) and (max-width: 700px)  {

    label {
         padding: 1%;
    }
    input {
 padding: 1%;
}

  #gameIntro {
width: 80%}

#gameCon { 
    display: hide;
width: 60%;
height: 40vh;
}

h1 {
    font-size: large;
}

.reply button {
    font-size: large;
}
}



@media only screen  and (min-width: 701px) and (max-width: 950px)  {

  #gameIntro {
    padding-top: 2%;
width: 75%}

#gameCon { 
    display: hide;
width: 55%;
height: 50vh;
}

h1 {
    font-size: x-large;
}

.reply button {
    font-size: x-large;
}

.userSubmit {
    padding: 1%;
}

    label {
         padding: 0%;
    }
    input {
 font-size: large;
}
}



@media only screen  and (min-width: 951px) and (max-width: 1000px)  {

  #gameIntro {
    padding-top: 2%;
width: 75%}

#gameCon { 
    display: hide;
width: 53%;
height: 58vh;
}

h1 {
    font-size: x-large;
}

.reply button {
    font-size: x-large;
}

.userSubmit {
    padding: 1%;
}

    label {
         padding: 0%;
    }
    input {
 font-size: large;
}
}



@media only screen and (min-width: 1001px)  {

  #gameIntro {
    padding-top: 2%;
width: 800px;}

#gameCon { 
    display: hide;
width: 600px;
height: 500px;
}

h1 {
    font-size: xx-large;
}

.reply button {
    font-size: x-large;
}

.userSubmit {
    padding: 1%;
}

    label {
         padding: 0%;
    }
    input {
 font-size: large;
}
}




@media only screen and (min-height: 1000px)  {



#gameCon { 
    display: hide;

height: 550px;
}

}


